.Nav {
	display: flex;
	justify-content: space-between;
	padding: 0.5em 1em;
	font-size: 1.5rem;
	background-color: black;
    color: white;
	z-index: 99;
}
.navLink {
	text-decoration: none;
	color: inherit;
}
